<h2>Category Management</h2>
<form (ngSubmit)=" onCategoryCreateFormSubmit( $event ) ">

  <div>Category ID: <input name="id" [(ngModel)]="form.id"></div>
  <div>Category Name: <input name="name" [(ngModel)]="form.name"></div>
  <div>Category Description: <input name="description" [(ngModel)]="form.description"></div>
  <button type="submit">Create a Category</button>

</form>

<ul>
    <li *ngFor="let category of categories">
      {{ category.id }}
      {{ category.name }}
      {{ category.description }}
      {{ category.created }}
      ({{ category.numberOfPosts }})
      <button (click)="onClickDeleteCategory( category.id )">[ X ]</button>
    </li>
  </ul>

